#contact-hero {
    background-image: url('../assets/images/contactus.png');
}

#contact-form {
    max-width: 600px;
    margin: 5vh auto;
}

.form-group {
    margin-bottom: 1.5rem; 
}

.form-group label {
    display: block; 
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc; 
    border-radius: .6vw; 
}

.submit-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--secondary-color);
}

.form-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    white-space: nowrap;
}

.form-inline label {
    display: flex; 
    align-items: center;
}

#visit-again {
    margin-left: -45px;
}

.form-inline input {
    margin-right: 20px;
}
