#hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero h1, #hero p, #hero .cta-button {
    z-index: 1;
}

#upcoming-events h2{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Event Grid */
.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

/* Individual Event Card */
.event-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Event Date Style */
.event-date {
    color: var(--primary-color);
    font-weight: bold;
}

/* Event Link Style */
.event-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Event List Styles */
.event-list {
    list-style-type: none;
    padding-left: 0;
}

.event-list li {
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    position: relative;
}

.event-list li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .event-grid {
        grid-template-columns: 1fr;
    }
}
