#hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#propulsion h2{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero h1, #hero p, #hero .cta-button {
    z-index: 1;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.tech-card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tech-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tech-card h3, .tech-card p {
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .tech-grid {
        grid-template-columns: 1fr;
    }
}
